<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="edc48a">  <td>21/07/05 21:41:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Email.init()[pri:0, instance:testing.Email@32b260fa]">init</td> 
  <td>main@1420232606</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>21/07/05 21:42:05</td>   <td>15457</td> <td>&nbsp;</td><td title="&lt;&lt;Email.afterTest()[pri:0, instance:testing.Email@32b260fa]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1420232606</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>21/07/05 21:41:48</td>   <td>-1943</td> <td>&nbsp;</td><td title="&gt;&gt;Email.beforeTest()[pri:0, instance:testing.Email@32b260fa]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1420232606</td>   <td></td> </tr>
</table>
